@{
  Layout = "_Layout";
}

<h1>Details for @Model["course"].GetCourseName()</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var student in @Model["students"])
    {
      <tr>
        <td>@student.GetFirstName()</td>
        <td>@student.GetLastName()</td>
        <td><a href='/courses/@Model["course"].GetCourseId()/students/@student.GetId()'><span class="glyphicon glyphicon-remove"></span></a>
      </tr>
    }
  </tbody>
</table>

<h2>Add a student to this course</h2>
<form method="post" action='/courses/@Model["course"].GetCourseId()/students'>
  <div class="form-group">
    <label for="student-id">Select a student</label>
    <select id="student-id" name="student-id" type="text">
      @foreach (var student in @Model["allstudents"])
      {
        <option value="@student.GetId()">@student.GetFirstName() @student.GetLastName()</option>
      }
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<a href="/courses">Return to courses</a>
